<h1>New game</h1>
<p>Find me in app/views/games/new.html.erb</p>
<p class='letter'>
<% @letters.each do |letter| %>
  <%= letter %>
<%end%>
</p>


<!-- <ul>
  <% stuff do |thing| %>
  <li><%=  %></li>
<% end %>
</ul> -->
